[class*="tzm-reveal"] {
    --tzm-reveal--animation: none;
    --tzm-reveal--duration: 500ms;
    --tzm-reveal--easing: ease;
    --tzm-reveal--delay: 0ms;
    --tzm-reveal--distance: 100px;

    opacity: 0;
    visibility: hidden;
    transition: all 0s;
}

/**
 * Effects / Animations
 */
.tzm-reveal__slide-up {
    --tzm-reveal--animation: revealSlideUp;
}
.tzm-reveal__slide-down {
    --tzm-reveal--animation: revealSlideDown;
}
.tzm-reveal__slide-left {
    --tzm-reveal--animation: revealSlideLeft;
}
.tzm-reveal__slide-right {
    --tzm-reveal--animation: revealSlideRight;
}

.tzm-reveal__zoom-in {
    --tzm-reveal--animation: revealZoomIn;
}
.tzm-reveal__zoom-out {
    --tzm-reveal--animation: revealZoomOut;
}

.tzm-reveal__rotate {
    --tzm-reveal--animation: revealRotate;

    *:has(> &) {
        perspective: 1000px;
    }
}

/**
 * Easing functions
 */
.tzm-reveal__ease-linear {
    --tzm-reveal--easing: linear;
}
.tzm-reveal__ease-sine {
    --tzm-reveal--easing: cubic-bezier(0.37, 0, 0.63, 1);
}
.tzm-reveal__ease-cubic {
    --tzm-reveal--easing: cubic-bezier(0.33, 1, 0.68, 1);
}
.tzm-reveal__ease-quint {
    --tzm-reveal--easing: cubic-bezier(0.22, 1, 0.36, 1);
}
.tzm-reveal__ease-back {
    --tzm-reveal--easing: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.visible[class*="tzm-reveal"],
.is-selected[class*="tzm-reveal"] {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--tzm-reveal--duration) var(--tzm-reveal--delay);
    animation-name: var(--tzm-reveal--animation);
    animation-duration: var(--tzm-reveal--duration);
    animation-timing-function: var(--tzm-reveal--easing);
    animation-delay: var(--tzm-reveal--delay);
}

/**
 * Animations
 */
@keyframes revealSlideUp {
    from {
        translate: 0 var(--tzm-reveal--distance);
    }
}
@keyframes revealSlideDown {
    from {
        translate: 0 calc(-1 * var(--tzm-reveal--distance));
    }
}
@keyframes revealSlideLeft {
    from {
        translate: var(--tzm-reveal--distance) 0;
    }
}
@keyframes revealSlideRight {
    from {
        translate: calc(-1 * var(--tzm-reveal--distance)) 0;
    }
}
@keyframes revealZoomIn {
    from {
        scale: 0;
    }
}
@keyframes revealZoomOut {
    from {
        scale: 2;
    }
}
@keyframes revealRotate {
    from {
        rotate: x 100deg;
    }
}
